<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SapAccExcelAddin.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="enableInvoiceReposting" value="False" />
    <!--
    <add key="Name0" value="MSF GTP (SSO)" />
    <add key="AppServerHost0" value="172.27.6.23" />
    <add key="SystemNumber0" value="50" />
    <add key="SystemID0" value="GTP" />
    <add key="Client0" value="060" />
    <add key="Language0" value="DE" />
    <add key="SncMode0" value="1" />
    <add key="SncPartnerName0" value="p:CN=SVC_SAP_GTP_ABAP" />
    <add key="Name1" value="MSF GTI (SSO)" />
    <add key="AppServerHost1" value="172.27.6.73" />
    <add key="SystemNumber1" value="51" />
    <add key="SystemID1" value="GTI" />
    <add key="Client1" value="060" />
    <add key="Language1" value="DE" />
    <add key="SncMode1" value="1" />
    <add key="SncPartnerName1" value="p:CN=SVC_SAP_GTI_ABAP" />
    <add key="Name2" value="MSF GTM (SSO)" />
    <add key="AppServerHost2" value="172.27.6.32" />
    <add key="SystemNumber2" value="55" />
    <add key="SystemID2" value="GTM" />
    <add key="Client2" value="060" />
    <add key="Language2" value="DE" />
    <add key="SncMode2" value="1" />
    <add key="SncPartnerName2" value="p:CN=SVC_SAP_GTM_ABAP" />
    -->
  </appSettings>
  <userSettings>
    <SapAccExcelAddin.MySettings>
      <setting name="SAP_User" serializeAs="String">
        <value />
      </setting>
      <setting name="SAP_Language" serializeAs="String">
        <value />
      </setting>
    </SapAccExcelAddin.MySettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\SapExcel\SapAccExcelAddin.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>