<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="MigRules" type="SAPCommon.MigRulesSection, SAPCommon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <MigRules>
        <mig_rules>
            <clear />
            <add Key="C|Account" PostingType="C" Target="Account" RuleType=""
                Source="G/L Account" />
            <add Key="C|Account Type" PostingType="C" Target="Account Type"
                RuleType="C" Source="" />
            <add Key="C|Amount" PostingType="C" Target="Amount" RuleType="R"
                Source="Amount" />
            <add Key="C|Amount 2" PostingType="C" Target="Amount 2" RuleType="F"
                Source="" />
            <add Key="C|CompCode" PostingType="C" Target="CompCode" RuleType=""
                Source="Company Code" />
            <add Key="C|Cost Center" PostingType="C" Target="Cost Center"
                RuleType="" Source="Cost Center" />
            <add Key="C|Currency" PostingType="C" Target="Currency" RuleType=""
                Source="Currency" />
            <add Key="C|DocDate" PostingType="C" Target="DocDate" RuleType=""
                Source="Document Date" />
            <add Key="C|Exchange Rate" PostingType="C" Target="Exchange Rate"
                RuleType="" Source="Exchange Rate" />
            <add Key="C|Fiscal Year" PostingType="C" Target="Fiscal Year"
                RuleType="" Source="Fiscal Year" />
            <add Key="C|HeaderText" PostingType="C" Target="HeaderText" RuleType=""
                Source="Header Text" />
            <add Key="C|Invoice Number" PostingType="C" Target="Invoice Number"
                RuleType="" Source="Invoice Number" />
            <add Key="C|Item-Text" PostingType="C" Target="Item-Text" RuleType=""
                Source="Item Text" />
            <add Key="C|Network" PostingType="C" Target="Network" RuleType=""
                Source="Network" />
            <add Key="C|Network Activity" PostingType="C" Target="Network Activity"
                RuleType="" Source="Activity" />
            <add Key="C|Order" PostingType="C" Target="Order" RuleType=""
                Source="Order" />
            <add Key="C|Purch.Doc." PostingType="C" Target="Purch.Doc." RuleType=""
                Source="PO Number" />
            <add Key="C|Puch.Doc. Item" PostingType="C" Target="Puch.Doc. Item" RuleType=""
                Source="PO Item" />
            <add Key="C|Vendor" PostingType="C" Target="Vendor" RuleType=""
                Source="Invoicing Party" />
            <add Key="C|Post" PostingType="C" Target="Post" RuleType="F"
                Source="" />
            <add Key="C|Reference" PostingType="C" Target="Reference" RuleType="F"
                Source="" />
            <add Key="C|Translation date" PostingType="C" Target="Translation date"
                RuleType="" Source="Posting Date " />
            <add Key="C|WBS" PostingType="C" Target="WBS" RuleType="" Source="WBS" />
            <add Key="P|Account" PostingType="P" Target="Account" RuleType=""
                Source="G/L Account-new" />
            <add Key="P|Account Type" PostingType="P" Target="Account Type"
                RuleType="C" Source="" />
            <add Key="P|Amount" PostingType="P" Target="Amount" RuleType=""
                Source="Amount" />
            <add Key="P|Amount 2" PostingType="P" Target="Amount 2" RuleType="F"
                Source="" />
            <add Key="P|Cost Center" PostingType="P" Target="Cost Center"
                RuleType="" Source="Cost Center-new" />
            <add Key="P|Exchange Rate" PostingType="P" Target="Exchange Rate"
                RuleType="" Source="Exchange Rate" />
            <add Key="P|Fiscal Year" PostingType="P" Target="Fiscal Year"
                RuleType="" Source="Fiscal Year" />
            <add Key="P|Invoice Number" PostingType="P" Target="Invoice Number"
                RuleType="" Source="Invoice Number" />
            <add Key="P|Item-Text" PostingType="P" Target="Item-Text" RuleType=""
                Source="Item Text" />
            <add Key="P|Network" PostingType="P" Target="Network" RuleType=""
                Source="Network-new" />
            <add Key="P|Network Activity" PostingType="P" Target="Network Activity"
                RuleType="" Source="Activity-new" />
            <add Key="P|Order" PostingType="P" Target="Order" RuleType=""
                Source="Order-new" />
            <add Key="P|Purch.Doc." PostingType="P" Target="Purch.Doc." RuleType=""
                Source="PO Number" />
            <add Key="P|Puch.Doc. Item" PostingType="P" Target="Puch.Doc. Item" RuleType=""
                Source="PO Item" />
            <add Key="P|Vendor" PostingType="P" Target="Vendor" RuleType=""
                Source="Invoicing Party" />
            <add Key="P|Reference" PostingType="P" Target="Reference" RuleType="F"
                Source="" />
            <add Key="P|WBS" PostingType="P" Target="WBS" RuleType="" Source="WBS-new" />
        </mig_rules>
        <mig_constants>
            <clear />
            <add Key="P|Account Type" PostingType="P" Target="Account Type"
                Value="S" />
            <add Key="C|Account Type" PostingType="C" Target="Account Type"
                Value="S" />
            <add Key="C|Post" PostingType="C" Target="Post" Value="X" />
        </mig_constants>
        <mig_formulas>
            <clear />
            <add Key="C|Post" PostingType="C" Target="Post" Value="IF(RC[3]&lt;&gt;R[1]C[3],&quot;X&quot;,&quot;&quot;)" />
            <add Key="P|Reference" PostingType="P" Target="Reference" Value="RC[9]&amp;&quot;/&quot;&amp;RC[10]" />
            <add Key="C|Reference" PostingType="C" Target="Reference" Value="RC[9]&amp;&quot;/&quot;&amp;RC[10]" />
            <add Key="C|Amount 2" PostingType="C" Target="Amount 2" Value="RC[-1]*RC[20]" />
            <add Key="P|Amount 2" PostingType="P" Target="Amount 2" Value="RC[-1]*RC[20]" />
        </mig_formulas>
        <mig_mappings>
            <clear />
        </mig_mappings>
    </MigRules>
</configuration>